  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" id="closemodal"></a>
    <h1 class="title">Modifica password</h1>
  </header>

  <div class="content content-padded">
	<form>
    <input type="password" id="old_pwd" placeholder="Vecchia password">
    <input type="password" id="new_pwd" placeholder="Nuova password">
    <input type="password" id="check_pwd" placeholder="Conferma nuova password">
	  <button class="btn btn-primary btn-block" id="change">Modifica</button>
	</form>
  </div>
